body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
background-color: #f0f0f0;
}
#chessboard{
display: grid;
grid-template-columns: repeat(8,60px);
  grid-template-rows: repeat(8,60px);
}
.square{
  width: 60px;
  height:60px;
}
.black{
    background-color: #769656;
}
.white{
    background-color: #eeeed2;
}